<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator: Compatibility</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    </head>
<!--                          TITLE AT TOP                             -->
<h1 class="text-center"><a href="/">Anime Love Calculator</a></h1>
<!--                          TITLE AT TOP END                             -->

<!--                          NAVBAR                             -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Character Information</a></li>
                <li><a href="/match">Match</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu horizontal">
                <li>
                    {% if login_status %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
<!--                          NAVBAR END                                        -->
</html>