<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator: Compatibility</title>
        <link rel="icon" href="static/assets/logo5.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="../static/css/match.css") }}/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--                          TITLE AT TOP                             -->
        <div style="text-align: center;">
            <div style="text-align: center;"><a href="/"><img src={{ url_for('static', filename="../static/assets/logo3.png") }} style="width:700px; max-height:auto;"></a></div>
        </div>
        <!--                          TITLE AT TOP END                             -->

        <!--                          NAVBAR                             -->
            <div class="top-bar" style="background-color: rgb(252, 207, 238);">
                <div class="top-bar-left">
                    <ul class="menu horizontal" style="background-color: rgb(252, 207, 238);">
                        <li><a href="/">Home</a></li>
                        <li><a href="/match">Match</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu horizontal" style="background-color: rgb(252, 207, 238);">
                        <li class="menu-text"><b>{{session_username}}</b></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        <!--                          NAVBAR END                                        -->
        <div class="text-center" style="margin-top: 10vh;">
            <h4><b> Compatibility: {{compatibility}}%  </b></h4>
        </div>
        {% if list1 is not none %}
            <div class="grid-x grid-margin-x" style="margin: 0 5vh 0 5vh;">
                <div class="cell small-12 medium-6 large-6" style="text-align: center;">
                    <h1><b>{{list1[0]['name']}}</b></h1>
                    <a href="{{ url_for('character_profile', id=list1[0]['id']) }}"><img src={{list1[0]['image']}} style="width: 13vw; height: auto;"></a>
                    <h4><b>Description:</b></h4>
                    <div style="text-align: left;">
                        {{list1[0]['description']}}
                    </div>
                    {% if final['character0_quotes'] != [] %}
                        <h4><b>Quotes:</b></h4>
                        <div>
                            <ul style="text-align: left;">
                                {% for i in final['character0_quotes'] %}
                                    <li>{{i}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        {% for i in final['sentiments_character0'] %}
                            
                            <div class="progress" role="progressbar" aria-valuenow="{{ (final['sentiments_character0'][i] * 100)|round|int }}" aria-valuemin="0" aria-valuetext="{{ (final['sentiments_character0'][i] * 100)|round|int }} percent" aria-valuemax="100" style="height:35px;">
                                <span class="progress-meter" style="width: {{ (final['sentiments_character0'][i] * 100)|round|int }}%; background-color: {{list.pop()}}; height:35px;">
                                    <span class="progress-meter-text text-center" style="text-align: center; width: 100%;">{{ (final['sentiments_character0'][i] * 100)|round|int }}% {{i}}</span>
                                </span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="cell small-12 medium-6 large-6" style="text-align: center;">
                    <h1><b>{{list2[0]['name']}}</b></h1>
                    <a href="{{ url_for('character_profile', id=list2[0]['id']) }}"><img src={{list2[0]['image']}} style="width: 13vw; height: auto;"></a>
                    <h4><b>Description:</b></h4>
                    <div style="text-align: left;">
                        {{list2[0]['description']}}
                    </div>
                    {% if final['character0_quotes'] != [] %}
                        <h4><b>Quotes:</b></h4>
                        <div>
                            <ul style="text-align: left;">
                                {% for i in final['character1_quotes'] %}
                                    <li>{{i}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        {% for i in final['sentiments_character1'] %}
                            
                            <div class="progress" role="progressbar" aria-valuenow="{{ (final['sentiments_character1'][i] * 100)|round|int }}" aria-valuemin="0" aria-valuetext="{{ (final['sentiments_character1'][i] * 100)|round|int }} percent" aria-valuemax="100" style="height:35px;">
                                <span class="progress-meter" style="width: {{ (final['sentiments_character1'][i] * 100)|round|int }}%; background-color: {{list0.pop()}}; height:35px;">
                                    <span class="progress-meter-text text-center" style="text-align: center; width: 100%;">{{ (final['sentiments_character1'][i] * 100)|round|int }}% {{i}}</span>
                                </span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </body>
</html>