<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator</title>
        <link rel="icon" href="static/assets/logo5.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" integrity="sha512-kDmbIQZ10fxeKP5NSt3+tz77HO42IJiS+YPIirOIKTdokl4LtuXYo3NNvq9mTAF+rzdV1plp0sm9E6nvtVpnFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
    </head>
    <body>
        <div style="scroll-snap-align: start;">
    <!--                          NAVBAR                             -->
            <div class="top-bar" style="background-color: rgb(255, 255, 255); position: sticky; top: 0; height: 10vh;">
                <div class="top-bar-left">
                    <ul class="menu horizontal" style="background-color: rgba(255, 209, 217, 0);">
                        <li class="menu-text"><a href="/">Anime Love Calculator</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu horizontal" style="background-color: rgba(255, 209, 217, 0);">
                        {% if login_status %}
                            <li style="padding-top: 18px;"><b>{{session_username}}</b></li>
                            <li class="menu-text">
                                <a href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="menu-text">
                                <a href="/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
    <!--                          NAVBAR END                            -->

    <!--                          LETS GET STARTED CONTAINER                            -->
        <div class="grid-container fluid paralarx" style="background-color: #FFFFFF;">
            <div class="grid-y grid-padding-y" style="height: 90vh; padding-top: 10%;">
                <div class = "cell large-10">
                    <div>
                        <h1 class="text-center Letsgo">Let's get started</h1>
                    </div>
                    <div>
                        <p class="text-center" style="color: aliceblue;">
                            Curious about anime character relationships?<br>
                            Start by searching for a character!<br>
                        </p>
                    </div>
                    <div class="text-center">
                        <form id="generate" method="POST">
                            <input type="text" name="user_quote_query" placeholder="Character name" style="display: block; width: 200px; margin: 0 auto;"> <br>
                            <button type="submit" class="button">Generate</button>
                        </form>
                    </div>
                </div>
                <div class = "cell large-2" style="text-align: center;">
                    <i class="fi-arrow-down iconica"></i>
                </div>
            </div>
        </div>
    <!--                          LETS GET STARTED CONTAINER END                            -->
</div>
    <!--                          check out matches CONTAINER                            -->
        <div class="grid-x paralarx" style="scroll-snap-align: start;">
            <div class="cell small-1 medium-1 large-1" style="background-color:#ffffff00;"></div>
            <div class="cell small-10 medium-10 large-10">
                <div class="grid-container fluid" style="background-color: #FFFFFF;">
                    <div class="grid-y grid-padding-y" style="height: 90vh; padding-top: 10%;">
                        <div class="cell small-12 medium-12 large-12">
                        
                            <div>
                                <h1 class="text-center">Compatibility</h1>
                            </div>
                            <div>
                                <p class="text-center">
                                    Skip straight to matching anime characters
                                </p>
                            </div>
                            <div class="text-center">
                                <a class="button" href="/match">Match</a>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-1 medium-1 large-1" style="opacity: 0;"></div>
        </div>
    <!--                          check out matches CONTAINER END                            -->
    </body>

</html>