<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator: Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    </head>
    <div class = "grid-x">
        <div class = "cell small-6 medium-6 large-6">
            <div class = "grid-y" style = "height:100vh">
                <div class="cell small-3 medium-3 large-3"></div>
                <div class="cell small-6 medium-6 large-6">
                    <div class = "card" style="background-color: red; width: 100vh;">
                        <div class = "card-section">
                            <form method = "POST" action="/activate_login">
                                Username:
                                <input type="text" name="username" placeholder="enter username here"> 
                                <br>
                                <br>
                                Password:
                                <input type="password" name="password" placeholder="enter password here">
                                <br><br>
                                <input type="submit" name="sub1" value = "SUBMIT"></tr> <!-- submit button -->
                              </form>
                        </div>
                        <div class = "card-section">
                            {{additional}}
                        </div>
                        <div class = "card-section">
                            card section
                        </div>
                    </div>
                </div>
                <div class="cell small-3 medium-3 large-3"></div>
            </div>
        </div>
    </div>
</html>
