<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator: Match</title>
        <link rel="icon" href="static/assets/logo5.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="../static/css/match.css") }}/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--                          TITLE AT TOP                             -->
        <div class="grid-x">
            <div class="cell small-2 medium-2 large-2"></div>
            <div class="cell small-8 medium-8 large-8"><a href="/"><img src={{ url_for('static', filename="../static/assets/logo3.png") }}></a></div>
            <div class="cell small-2 medium-2 large-2"></div>
        </div>
        <!--                          TITLE AT TOP END                             -->

        <!--                          NAVBAR                             -->
            <div class="top-bar" style="background-color: rgb(252, 207, 238);">
                <div class="top-bar-left">
                    <ul class="menu horizontal" style="background-color: rgb(252, 207, 238);">
                        <li><a href="/">Home</a></li>
                        <li><a href="/match">Match</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu horizontal" style="background-color: rgb(252, 207, 238);">
                        <li class="menu-text"><b>{{session_username}}</b></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        <!--                          NAVBAR END                                        -->
        <br>
        <div>
            <form method = "POST" action="/match">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-1 medium-1 large-1" style="width: 140px;">
                        <label for="media" style="white-space: nowrap;">Search for:</label>
                        <select name="media" id="media">
                            <option value="Character">Character</option>
                            <option value="Show">Show</option>
                        </select>                                                  
                    </div>
                    <div class="cell small-3 medium-3 large-3">
                        <label for="input">Query:</label>
                        <div class="input-group">
                            <input class="input-group-field" type="text" name="input" placeholder="Search" id="input" style="width:400px;">
                            <div class="input-group-button">
                              <input type="submit" class="button" value="Submit" name="sub1">
                            </div>
                          </div>
                    </div>
                    <div class="cell small-2 medium-2 large-2">
                    </div>
                    <div class="cell small-6 medium-6 large-6"></div>
                </div> 
            </form>
        </div>
        <br>
        <div class="grid-x grid-padding-x" id="foo">
            <div class="cell small-9 medium-9 large-9">
                <div class="grid-x grid-margin-x grid-padding-x">
                    {% if media != 'None' %}
                        {% if media == 'Character' %}
                            {% for i in diction[0] %}
                                <div class="cell small-12 medium-12 large-6" style="border: none; outline: none;">
                                    <div class="media-object" style="border: none; outline: none;">
                                        <div class="media-object-section" style="border: none; outline: none;">
                                            <div class="thumbnail" style="border: none; outline: none;">
                                                <form method="GET" action="/match">
                                                    <input type="hidden" name = "name" value="{{i['name']}}">
                                                    <input type="hidden" name = "id" value="{{i['id']}}">
                                                    <input type="hidden" name = "image" value="{{i['image']}}">
                                                    <button type="submit" name="media" value="Character" style="border: none; outline: none;">
                                                        <img src="{{i['image']}}" style="width: 200px; height: auto;" class="touch">
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="media-object-section">
                                            <h4 class="title">{{ i['name'] }}</h4>
                                            <hr>
                                            <div class = 'paper'>
                                                <p class="fade">{{ i['description'] }}</p>
                                                <a href={{ url_for('character_profile', id=i['id']) }} class="button">Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            {% endfor %}
                        {% elif media == 'Show' %}
                            {% for i in diction[0] %}
                                <div class="cell small-6 medium-4 large-3">
                                    <div class="card">
                                        <form method="GET" action="/match">
                                            <input type="hidden" name="id" value="{{i['id']}}">
                                            <button type="submit" name="media" value="Show" style="width: fit-content;">
                                                <img src="{{i['image']}}" style="max-width: 300px;height: auto;">
                                            </button>
                                        </form>
                                        <div class="card-section">
                                            <h4>{{ i['title'] }}</h4>
                                        </div>
                                    </div>  
                                </div> 
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="cell small-3 medium-3 large-3" data-sticky-container>
                <div class="sticky" data-sticky data-anchor="foo">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-2 medium-2 large-2">

                        </div>
                        <div class="cell small-8 medium-8 large-8">
                            <div class = "grid-y" style="height:100vh">
                                <div class="cell small-1 medium-1 large-1">
                                    {% if session['match_one']['image'] != 'false' and session['match_two']['image'] != 'false' %}
                                    <form method = 'POST' action = '/compatibility'>
                                        <button class="button expanded success" type="submit" name="match" value="True" style="color: aliceblue;">
                                            Match!
                                        </button>
                                    </form>
                                    {% else %}
                                        <h4 class="subheader" style="white-space: nowrap;">Select your match</h4>
                                    {% endif %}
                                </div>
                                <div class="cell auto cella">
                                    {% if session['match_one']['image'] != 'false' %}
                                        <form method="POST" action="/match">
                                            <button type="submit" name="match_one" value="deselect">
                                                <img src="{{ session['match_one']['image'] }}" class="image">
                                            </button>
                                        </form>
                                    {% else %}
                                        <div class = 'blank'>
                                            +
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="cell auto cella">
                                    {% if session['match_two']['image'] != 'false' %}
                                        <form method="POST" action="/match">
                                            <button type="submit" name="match_two" value="deselect">
                                                <img src="{{ session['match_two']['image'] }}" class="image">
                                            </button>
                                        </form>
                                    {% else %}
                                        <div class = 'blank'>
                                            +
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="cell small-2 medium-2 large-2">

                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).foundation();
            </script>
        </div>
        {% if diction is not none %}
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                {% if pagination['page'] == 1 %}
                    <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                {% elif pagination['page'] > 0 %}
                    <li class="pagination-previous"><a href="{{ request.path[0:request.path.rfind('/') + 1] + (pagination['page'] - 1)|string }}" aria-label="Previous page">Previous <span class="show-for-sr">page</span></a></li>
                {% endif %}

                {% if pagination['previous_ellipsis'] %}
                    <li><a href="{{ request.path[0:request.path.rfind('/') + 1] + '1' }}" aria-label="Page 1">1</a></li>
                    <li class="ellipsis" aria-hidden="true"></li>
                {% endif %}

                {% for i in pagination['previous']%}
                    <li><a href="{{ request.path[0:request.path.rfind('/') + 1] + (i)|string }}" aria-label="Page {{ i }}">{{ i }}</a></li>
                {% endfor %}

                    <li class="current"><span class="show-for-sr">You're on page</span>{{ pagination['page'] }}</li>

                {% for i in pagination['future']%}
                    <li><a href="{{ request.path[0:request.path.rfind('/') + 1] + (i)|string }}" aria-label="Page {{ i }}">{{ i }}</a></li>
                {% endfor %}

                {% if pagination['future_ellipsis'] %}
                    <li class="ellipsis" aria-hidden="true"></li>
                    <li><a href="{{ request.path[0:request.path.rfind('/') + 1] + diction[1]|string }}" aria-label="Page {{ diction[1] }}">{{ diction[1] }}</a></li>
                {% endif %}
                <!-- <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li class="ellipsis" aria-hidden="true"></li>
                <li><a href="#" aria-label="Page 12">12</a></li>
                <li><a href="#" aria-label="Page 13">13</a></li> -->
                {% if pagination['page'] == diction[1] %}
                    <li class="pagination-next disabled">Next <span class="show-for-sr">page</span></li>
                {% elif diction[1] > pagination['page'] %}
                    <li class="pagination-next"><a href="{{ request.path[0:request.path.rfind('/') + 1] + (pagination['page'] + 1)|string }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}
    </body>
</html>