<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator: Match</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    </head>
    <body>
        <!--                          TITLE AT TOP                             -->
        <h1 class="text-center"><a href="/">Anime Love Calculator</a></h1>
        <!--                          TITLE AT TOP END                             -->

        <!--                          NAVBAR                             -->
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu horizontal">
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Character Information</a></li>
                        <li><a href="/match">Match</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu horizontal">
                        <li>
                            {% if login_status %}
                            <a href="/logout">Logout</a>
                            {% else %}
                            <a href="/login">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        <!--                          NAVBAR END                                        -->
        <a href="/compatibility">Compatibility</a>
        <div>
            <form method = "POST" action="/match"> 
                <select name="media" id="media">
                    <option value="Character">Character</option>
                    <option value="Show">Show</option>
                </select>                                  
                <label for="username">Search:</label>
                <input type="text" name="input" placeholder="Enter username here" id="input">
                <input type="submit" name="sub1" value = "SUBMIT" class="button expanded">
            </form>
        </div>
        <div class="grid-x grid-margin-x grid-padding-x" style="width: 80vw;">
            {% if media != 'None' %}
                {% if media == 'Character' %}
                    {% for i in diction[0] %}
                        <div class="cell small-6 medium-4 large-3" style="background-color: aqua;">
                            <div class="card">
                                <img src="{{i['image']}}" style="max-width: 250px;height: auto;">
                                <div class="card-section">
                                    <h4>{{ i['name'] }}</h4>
                                </div>
                            </div>  
                        </div> 
                    {% endfor %}
                {% elif media == 'Show' %}
                    {% for i in diction[0] %}
                        <div class="cell small-6 medium-4 large-3" style="background-color: aqua;">
                            <div class="card">
                                <form method="GET" action="/match">
                                    <input type="hidden" name = "media" value="Show/Characters">
                                    <button type="submit" name="id" value="{{i['id']}}" style="max-width: 250px;">
                                        <img src="{{i['image']}}" style="max-width: 250px;height: auto;">
                                    </button>
                                </form>
                                <div class="card-section">
                                    <h4>{{ i['title'] }}</h4>
                                </div>
                            </div>  
                        </div> 
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>