<!DOCTYPE html>
<!-- 
TNPG: It's Friday!, Roster: Erica Li, Verit Li, Daniel He, Samson Wu
SoftDev
P01 
-->
<html>
    <head>
        <title>Anime Love Calculator: Register</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" integrity="sha512-kDmbIQZ10fxeKP5NSt3+tz77HO42IJiS+YPIirOIKTdokl4LtuXYo3NNvq9mTAF+rzdV1plp0sm9E6nvtVpnFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    </head>
    <body>
        <div class = "grid-x">
            <div class="cell small-2 medium-2 large-2"></div>
            <div class="cell small-8 medium-8 large-8">
                <div class="grid-y" style = "height: 100vh;">
                    <div class = "cell small-2 medium-2 large-2"></div> 
                    <div class = "cell small-2 medium-2 large-2">
                        <div class = "card card-style-register">
                            <div class = "card-section">
                                <div class="grid-x">
                                    <div class="cell small-2 medium-2 large-2"></div>
                                    <div class="cell small-8 medium-8 large-8"><a href="/"><img src="../static/assets/logo2.png"></a></div>
                                    <div class="cell small-2 medium-2 large-2"></div>
                                </div>
                            </div>
                            <div class = "card-section" style="height: max(35vh, 400px);">
                                <h4><b>Sign up</b></h4>
                                <form method = "POST" action="/register">    
                                    <!--                          RELEVANT FORMS                             -->                               
                                        <label for="username">Username:</label>
                                        <input type="text" name="register_username" placeholder="Enter username here" id="username"> 
                                        <div class="grid-x">
                                            <div class="cell small-6 medium-6 large-6" style="padding-right: 5px;">
                                                <label for="password">Password:</label>
                                                <input type="password" name="register_password" placeholder="Enter password here" id="password">
                                            </div>
                                            <div class="cell small-6 medium-6 large-6" style="padding-left: 5px;">
                                                <label for="password">Confirm Password:</label>
                                                <input type="password" name="register_password_confirm" placeholder="Enter password here" id="password">
                                            </div>
                                        </div>                                      

                                    <br>
                                    <input type="submit" name="sub1" value = "Register" class="button expanded hovered"></tr> <!-- submit button -->
                                </form>
                                    <!--                          RELEVANT FORMS                             -->                               

                                <div class="grid-x">
                                    <div class="cell small-5 medium-5 large-5"><hr></div>
                                    <div class="cell small-2 medium-2 large-2"></div>
                                    <div class="cell small-5 medium-5 large-5"><hr></div>
                                </div>
                                <div class="grid-x">
                                    <div class="cell small-1 medium-1 large-1"><i class="fi-social-github" style="font-size: 30px;"></i></div>
                                    <div class="cell small-1 medium-1 large-1"><i class="fi-mail" style="font-size: 30px;"></i></div>
                                    <div class="cell small-1 medium-1 large-1"><i class="fi-social-facebook" style="font-size: 30px;"></i></div>
                                    <div class="cell small-9 medium-9 large-9 text-right" style="padding: 10px 0;">Already have an account? <a href="/login">Log in</a></div>
                                    {{FAILMSG}}
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="cell small-2 medium-2 large-2"></div>
        </div>
    </body>
</html>